# Sporza wielermanager woman analysis

**Author**: Sebastiaan Vanuytven  
**Date**: 17/2/24  
**Purpose**: Trying to select the best 12 riders based on their top 25 performances last year as well as their current prices

## Load libraries

In [91]:
import pandas as pd
import numpy as np
from unidecode import unidecode
#import matplotlib.pyplot as plt

## load the data

In [67]:
prices = pd.read_csv('../data/Prices.csv',  index_col=0)
results = pd.read_csv('../data/Woman.csv', index_col=0)
pointsPerRace = pd.read_csv('../data/points.csv', index_col=0)

In [68]:
metadataRace = results.loc[:,"Classification":"Type"]
dfResults = results.iloc[:,0:25]
metadataRace.Classification = metadataRace.Classification.replace("niet-World Tour", "Niet-WT")

/var/folders/_y/13wzb19j3wj2x0r5ltghjpq1br4glx/T/ipykernel_13794/417758253.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  metadataRace.Classification = metadataRace.Classification.replace("niet-World Tour", "Niet-WT")

In [75]:
print(dfResults.loc[race].items())

<zip object at 0x14fc66dc0>

In [88]:
# Initialize an empty dictionary to store rider positions
rider_positions = {}
rider_points_by_race = {}

# Iterate over each race
for race in dfResults.index:
    # Iterate over each position column
    for position, rider in dfResults.loc[race].items():
        # Check if rider exists (not NaN)
        if pd.notna(rider):
            # Append rider position for the race
            if rider not in rider_positions:
                rider_positions[rider] = []
            rider_positions[rider].append(position)
            # Append points earned for the race
            if rider not in rider_points_by_race:
                rider_points_by_race[rider] = []
            rider_points_by_race[rider].append(pointsPerRace.loc[int(position), metadataRace.loc[race]["Classification"]])

# Initialize lists to store data for DataFrame
rider_names = []
positions = []
positions_length = []
points_earned = []
points_by_race = []

# Extract data from rider_positions dictionary and calculate points earned
for rider, rider_position_list in rider_positions.items():
    rider_names.append(rider)
    positions.append(rider_position_list)
    positions_length.append(len(rider_position_list))
    total_points = sum(rider_points_by_race[rider])
    points_earned.append(total_points)
    points_by_race.append(rider_points_by_race[rider])

# Create a new DataFrame
df_rider_stats = pd.DataFrame({ 'top25Places': positions_length, 'totalPoints': points_earned, 'results': positions, 'pointsByRace': points_by_race}, index=rider_names)

# Display the DataFrame
print(df_rider_stats)

                    top25Places  totalPoints                     results  \
KOPECKY Lotte                 6          398          [1, 2, 1, 1, 7, 2]
WIEBES Lorena                 8          377  [2, 1, 1, 2, 18, 3, 14, 1]
BASTIANELLI Marta             6          231         [3, 2, 1, 3, 6, 24]
NORSGAARD Emma                1           44                         [4]
GEORGI Pfeiffer               7          198     [5, 9, 1, 11, 16, 8, 7]
...                         ...          ...                         ...
EWERS Veronica                1            6                        [14]
KOPPENBURG Clara              1            3                        [23]
GÅSKJENN Ingvild              1            3                        [24]
FISHER-BLACK Niamh            1           17                        [10]
KRAAK Amber                   1            4                        [22]

                                      pointsByRace
KOPECKY Lotte            [80, 64, 60, 100, 30, 64]
WIEBES Lorena       [64, 60, 80, 48, 5, 52, 8, 60]
BASTIANELLI Marta          [52, 48, 60, 39, 28, 4]
NORSGAARD Emma                                [44]
GEORGI Pfeiffer        [36, 16, 80, 11, 6, 25, 24]
...                                            ...
EWERS Veronica                                 [6]
KOPPENBURG Clara                               [3]
GÅSKJENN Ingvild                               [3]
FISHER-BLACK Niamh                            [17]
KRAAK Amber                                    [4]

[163 rows x 4 columns]

In [92]:
formatted_names = []

for name in df_rider_stats.index:
    capitals = []
    non_capitals = []
    for word in name.split():
        if word.isupper():
            capitals.append(word.capitalize())
        else:
            non_capitals.append(word)
    formatted_name = ' '.join(non_capitals + capitals)
    formatted_name = unidecode(formatted_name)  # Remove accents
    formatted_names.append(formatted_name)
    
df_rider_stats.index = formatted_names

In [103]:
df = pd.merge(df_rider_stats, prices, left_index=True, right_index=True, how='left')
df.dropna(subset=['Price'], inplace=True)

In [108]:

df["pointsPerPrice"] = df["totalPoints"] / df["Price"]
df.sort_values(by='pointsPerPrice', ascending=False).head(50)

,top25Places,totalPoints,results,pointsByRace,Price,pointsPerPrice
Demi Vollering,8,533,"[17, 1, 1, 2, 2, 1, 1, 1]","[5, 80, 60, 80, 48, 80, 80, 100]",12.0,44.416667
Lorena Wiebes,8,377,"[2, 1, 1, 2, 18, 3, 14, 1]","[64, 60, 80, 48, 5, 52, 8, 60]",10.0,37.700000
Lotte Kopecky,6,398,"[1, 2, 1, 1, 7, 2]","[80, 64, 60, 100, 30, 64]",12.0,33.166667
Pfeiffer Georgi,7,198,"[5, 9, 1, 11, 16, 8, 7]","[36, 16, 80, 11, 6, 25, 24]",6.0,33.000000
Shirin Van Anrooij,8,212,"[1, 24, 9, 8, 5, 3, 15, 15]","[80, 3, 12, 25, 27, 52, 6, 7]",7.0,30.285714
Vittoria Guazzini,4,148,"[3, 7, 3, 4]","[39, 24, 52, 33]",5.0,29.600000
Elisa Balsamo,4,205,"[4, 4, 2, 2]","[44, 33, 64, 64]",7.0,29.285714
Maike Van Der Duin,4,138,"[3, 7, 3, 13]","[52, 24, 52, 10]",5.0,27.600000
Elisa Longo Borghini,6,176,"[10, 11, 3, 21, 17, 2]","[14, 8, 65, 4, 5, 80]",7.0,25.142857
Marlen Reusser,7,224,"[14, 15, 1, 7, 7, 6, 3]","[6, 4, 80, 18, 30, 21, 65]",10.0,22.400000
Silvia Persico,5,179,"[6, 4, 1, 9, 8]","[28, 55, 60, 16, 20]",8.0,22.375000
Liane Lippert,7,176,"[23, 7, 8, 3, 15, 2, 8]","[3, 24, 15, 39, 6, 64, 25]",8.0,22.000000
Marthe Truyen,4,87,"[22, 8, 16, 3]","[2, 15, 5, 65]",4.0,21.750000
Megan Jastrab,2,108,"[4, 2]","[44, 64]",5.0,21.600000
Elise Chabbey,8,128,"[25, 24, 11, 16, 4, 13, 9, 5]","[3, 3, 14, 6, 33, 8, 16, 45]",6.0,21.333333
Chiara Consonni,5,128,"[20, 9, 2, 3, 9]","[5, 16, 48, 39, 20]",6.0,21.333333
Alison Jackson,2,103,"[16, 1]","[3, 100]",5.0,20.600000
Karlijn Swinkels,5,82,"[11, 8, 23, 4, 25]","[11, 20, 3, 44, 4]",4.0,20.500000
Soraya Paladin,6,123,"[9, 22, 5, 9, 5, 9]","[16, 3, 36, 12, 36, 20]",6.0,20.500000
Katia Ragusa,1,80,[2],[80],4.0,20.000000
Maria Giulia Confalonieri,4,97,"[2, 5, 11, 20]","[48, 36, 8, 5]",5.0,19.400000
Katarzyna Niewiadoma,7,151,"[24, 6, 15, 5, 4, 11, 11]","[3, 28, 6, 45, 44, 11, 14]",8.0,18.875000
Eugenie Duval,1,55,[4],[55],3.0,18.333333
Audrey Cordon-ragot,2,72,"[3, 4]","[39, 33]",4.0,18.000000
Arlenis Sierra,3,88,"[5, 4, 10]","[27, 44, 17]",5.0,17.600000
Riejanne Markus,4,86,"[19, 8, 14, 4]","[5, 20, 6, 55]",5.0,17.200000
Susanne Andersen,2,67,"[18, 2]","[3, 64]",4.0,16.750000
Mavi Garcia,6,83,"[11, 10, 20, 16, 4, 20]","[11, 14, 3, 5, 44, 6]",5.0,16.600000
Marion Borras,1,45,[5],[45],3.0,15.000000
Christina Schweinberger,6,90,"[8, 21, 8, 5, 22, 15]","[20, 3, 20, 36, 4, 7]",6.0,15.000000
Gaia Realini,4,89,"[17, 23, 3, 7]","[5, 2, 52, 30]",6.0,14.833333
Anna Henderson,6,74,"[22, 10, 8, 9, 9, 13]","[3, 14, 15, 16, 20, 6]",5.0,14.800000
Arianna Fidanza,3,42,"[4, 14, 20]","[33, 6, 3]",3.0,14.000000
Ashleigh Moolman,6,81,"[12, 10, 12, 8, 6, 19]","[10, 10, 7, 20, 28, 6]",6.0,13.500000
Evita Muzic,4,52,"[25, 11, 5, 17]","[2, 8, 36, 6]",4.0,13.000000
Marta Lach,3,52,"[17, 9, 6]","[5, 12, 35]",4.0,13.000000
Margaux Vigie,7,52,"[12, 17, 7, 13, 16, 21, 14]","[10, 3, 18, 6, 3, 4, 8]",4.0,13.000000
Ruby Roseman-gannon,6,49,"[24, 20, 15, 5, 17, 15]","[3, 3, 6, 27, 6, 4]",4.0,12.250000
Lotta Henttala,2,49,"[6, 6]","[28, 21]",4.0,12.250000
Juliette Labous,6,73,"[12, 17, 6, 18, 12, 13]","[10, 3, 35, 5, 10, 10]",6.0,12.166667
Roxane Fournier,4,48,"[5, 10, 16, 11]","[27, 10, 3, 8]",4.0,12.000000
Letizia Paternoster,4,57,"[6, 9, 10, 10]","[21, 16, 10, 10]",5.0,11.400000
Julie De Wilde,3,44,"[7, 13, 7]","[18, 8, 18]",4.0,11.000000
Anouska Koster,4,42,"[6, 20, 16, 20]","[28, 6, 3, 5]",4.0,10.500000
Marianne Vos,5,73,"[20, 3, 15, 10, 17]","[5, 39, 7, 17, 5]",7.0,10.428571
Grace Brown,6,58,"[16, 15, 19, 24, 13, 6]","[5, 6, 5, 4, 10, 28]",6.0,9.666667
Cecilie Uttrup Ludwig,4,73,"[20, 3, 21, 10]","[5, 52, 2, 14]",8.0,9.125000
Elise Uijen,2,27,"[23, 7]","[3, 24]",3.0,9.000000
Lieke Nooijen,1,27,[5],[27],3.0,9.000000
Martina Fidanza,1,27,[5],[27],3.0,9.000000

#### Selection:

**Certitudes**
- Demi Vollering
- Lorena Wiebes
- Lotte Kopecky
- Marthe Truyen
- Pfeiffer Georgi
- Elise Chabbey
- Marthe Goossens
- Vittoria Guazzini
- CONSONNI Chiara
- Shirin Van Anrooij
- Karlijn Swinkels
- Margaux Vigie

**NA Roubaix**

- Transfer of Wiebes => Liana Lippert/Silvia Persico(9M)
- CONSONNI Chiara => Gaia Realini (7)
- Margaux Vigie/Karlijn Swinkels => Evita Muzic(5)

Klim Klassiekers:
- VOLLERING Demi
- CHABBEY Elise
- VAN ANROOIJ Shirin
- KOPECKY Lotte
- GEORGI Pfeiffer
- Liana Lippert/Silvia Persico
- Gaia Realini	
- Evita Muzic